.navbar {
    overflow: hidden;
    background-color: blue;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.navbar a {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 18px 24px;
        text-decoration: none;
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
    }

.navbar a:hover {
            background-color: white;
            color: blue;
        }


.left-aligned {
    max-width: 960px;
    text-align: left;
    margin-left: 0;
    margin-right: auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
